.profile__edit-button {
   margin-left: 18px;
   background: black;
   border: none;
   display: flex;
   align-items: center;
}

.profile__edit-button:hover {
   opacity: 0.6;
   cursor: pointer;
}

@media screen and (max-width: 767px) {
   .profile__edit-button {
      margin-left: 10px;
   }
}